* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
header {
    background-color: rgb(10, 10, 11); 
    width: 100%;
    height: 60px;
    display: grid;
    grid-template: "header-logo header-enviar-a box-header-search-input header-flag-country header-identificate header-devoluciones header-carrito" 60px /
                    150px       110px           1fr                 70px                160px               120px               140px;     
}
.header-logo {
    grid-area: header-logo;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 70px;
}
.img-main-logo {
    width: 90%;
    color: white;
    padding-left: 15px;
}
.header-enviar-a {
    grid-area: header-enviar-a;
    display: grid;
    grid-template: "box-icon-location box-texto-enviar-a" 
                   "box-icon-location box-texto-colombia" /
                    20px          70px;  
}
.box-icon-location {
    height: 60px;
    grid-area: box-icon-location;
    color: white;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}
.icon-location {
    font-size: .9em;
}
.box-texto-enviar-a {
    grid-area: box-texto-enviar-a;
    color: white;
    position: relative;
    top: 10px;
    font-size: .7em;
    font-weight: 300;
}
.box-texto-colombia {
    grid-area: box-texto-colombia;
    font-size: .9em;
    font-weight: 500;
    color: white;
    position: relative;
    bottom: 4px;
}
.box-header-search-input {
    grid-area: box-header-search-input;
    display: flex;
    justify-content: center;
    align-items:center;
}
.header-search-input {
    height: 40px;
    width: 100%;
    display: grid;
    grid-template: "box-filtro-todos box-buscar-amazon box-lupa" /
                    70px            1fr               50px;
}
.box-filtro-todos {
    grid-area: box-filtro-todos;
    background-color: rgb(230,230,230);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.filtro-todos {
    display: flex;
    align-items: center;
    height: 40px;
}
.header-todos {
    padding: 0 4px 0 15px;
    font-size: .7em;
}
.icon-chevron {
    font-size:.7em;
}
.box-buscar-amazon {
    grid-area: box-buscar-amazon;
    background-color: white;
    width: 100%;
}
.input-busqueda {
    border:none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 1.1em;
}
.input-busqueda::placeholder {
    font-size: .8em;
    font-weight: 500;
}
.box-lupa {
    height: 42px;
    background-color: rgb(254,189,105);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lupa {
    grid-area: lupa;
}
.icon-lupa {
    font-size: 1.1em;
}
.header-flag-country {
    grid-area: header-flag-country;
}
.header-identificate {
    grid-area: header-identificate;
}
.header-devoluciones {
    grid-area: header-devoluciones;
}
.header-carrito {
    grid-area: header-carrito;
}
.main-menu {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
    background-color: rgb(35, 47, 62);
  }
  
li {
    list-style: none;
  }
.hori {
    display: inline-block;
    padding: 10px;
    color: white;
}
  
.hori:hover {
    cursor: pointer;
    color: rgb(158, 158, 158);
    border: 1 solid white;
}
  
/* Fonts */
/* poppins-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/poppins-v20-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); 
  }
 
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2'); 
  }
.txt-Es {
    color: white;
}

.txt-hola-identificate {
color: white;
   position: relative;
   left: 15px;
   top: 10px;

}

.txt-cuentas-listas {
    color: white;
    position: relative;
    left: 15px;
    top: 10px;
}

.txt-Devoluciones {
    color: white;
    position: relative;
    left: 15px;
    top: 10px;
}

.txt-Y-Pedidos {
    color: white;
    position: relative;
    left: 15px;
    top: 10px;
}
.fa-solid.fa-chevron-down.fa-beat {
    color: white;
    font-size: 10px;
  }
  .header-identificate .fa-solid.fa-chevron-down.fa-beat {
    margin-top: 10px; 
    margin-left: 27px;
}


.txt-carrito {
    color: white;
    position: relative;
    left: 30px;
    top: 20px;
}

.fa-solid.fa-cart-shopping {
    color: white;
    position: relative;
    left: 30px;
    top: 20px;
  
}

.header-country-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-country-container img {
    margin-right: 5px; 
}
.main-content {
    height: 100vh;
    position: static;
    z-index: 10;
}

.box-modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(0, 0, 0,.5);
z-index: 20;
}

.modal {
   width: 94%;
   height: 87%;
   z-index: 30; 
   background-color: white;
   border-radius: 13px;
   position: relative;
   display: grid;
   grid-template: "box-main-img-modal info-modal"  /
                1fr                370px;
}
.box-main-img-modal {
    grid-area: box-main-img-modal;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.main-img-modal {
    width: 80%;
    height: auto;
}
.info-modal {
    grid-area: info-modal;
padding: 30px 60px 30px 30px;
}
.btn-close {
position: absolute;
top: 5px;
right: 10px;
font-size: 1.3em;
border: 3px solid rgb(44,176,224,0.3);
border-radius: 6px;
padding: 0 3px;
cursor: pointer;
}

.txt-caracteristicas-modal {
    color: rgb(9, 8, 8);
   
    font-size: 18px;
    font-family: verdana, Arial, Helvetica, sans-serif;
}
.header-search-input-focus {
    height: 46px;
    width: 100%;
    display: grid;
    grid-template: "box-filtro-todos box-buscar-amazon box-lupa" / 
                    70px             1fr                50px;
    border: 3px solid rgb(231, 153, 50);
    border-radius: 12px;
    }
    
    .header-search-input-no-focus {
        height: 46px;
        width: 100%;
        display: grid;
        grid-template: "box-filtro-todos box-buscar-amazon box-lupa" / 
                        70px             1fr                50px;
        border: 3px solid transparent;
        border-radius: 12px;                 
     }


.article {
    height: 60px;
    width: 60px;
    grid-area: article-1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px double rgb(214, 211, 211);
}
.container-img {

/*     margin-bottom: -10px; */
    display: grid;
    grid-template: "empty-0       empty-0        empty-0         empty-0        empty-0"  40px
                   "article-1     empty-1        article-2       empty-2        article-3" 90px
                   "article-4     empty-1        article-5       empty-2        article-6" 90px   /
                   77px            10px             77px           10px             90px
}
.article-1 {
    grid-area: article-1;
    
}
.article-2 {
    grid-area: article-2;
}
.article-3 {
    grid-area: article-3;
}
.article-4 {
    grid-area: article-4;
}
.article-5 {
    grid-area: article-5;
}


.main-img-modal {
    width: 27%; /* Tama침o inicial de la imagen principal */
    height: auto; /* Para mantener la relaci칩n de aspecto */

}

.img-mini {
    width: 50%; /* Las miniaturas tienen un tama침o fijo del 100% del contenedor */
}

/* Estilo para la imagen principal cuando se selecciona una miniatura */
.main-img-modal.enlarge {
    width: 27%; 
}
.main-barco {
    width: 100%;
    height: 100%;
    z-index: 10; 
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-template: "principal-container-img     principal-box-main-img-modal    principal-info-modal"  /
                    150px                       1fr                             350px;
 }
.principal-container-img {
    grid-area: principal-container-img;
    margin-top: 50px;
}
.principal-box-main-img-modal {
    grid-area: principal-box-main-img-modal;
    width: 100%;
    height: 120%;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.principal-info-modal {
    grid-area: principal-info-modal;
    padding: 30px 60px 30px 30px;
}
.principal-main-img-modal {
    width: 27%;
    height: auto;
    margin-right: 600px;
}
.principal-article {
    border-radius: 10px;
   border: solid 2px blue;
    height: 50px;
    width: 50px;
    margin: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.article:hover {
cursor: pointer;
border: 2px solid rgb(9, 89, 159);
}
    
.article.selected {
border: 2px solid orange;
}
.img-mini-principal {
width: 49%; /* Las miniaturas tienen un tama침o fijo del 100% del contenedor */
}