.box {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: aqua;
    letter-spacing: .1em;
    word-spacing: .3em;
    line-height: 1.5em;
    text-indent: 1em;
}
.box-1 {
    margin: 10px;
    border: 8px solid rgb(250, 54, 87);
    padding: 20px;
    background-color:rgb(221, 24, 24);
    margin-bottom: 20px;
    color:white;
    text-align: justify;
}

.box-2 {
    margin: 10px;
    border: 8px dotted rgb(101, 201, 226);
    padding: 20px;
    background-color: #005dc8;
    margin-bottom: 20px;
    color:white;
    text-align: right;
}
.box-3 {
    margin: 10px;
    border: 5px dashed rgb(238, 234, 6);
    padding: 20px;
    background-color:rgb(0, 200, 0);
    margin-bottom: 20px;
    color:white;
    text-align: center;
}
.box-4 {
    margin: 10px;
    border: 5px double  rgb(180, 14, 230);
    padding: 20px;
    background-color:rgb(185, 6, 90);
    margin-bottom: 20px;
    color:white;
    text-align: left;
}
.box-5{
    margin: 10px;
    border: 5px groove rgb(67, 140, 236);
    padding: 20px;
    background-color:rgb(87, 0, 200);
    margin-bottom: 20px;
    color:white;
    text-align: justify;
}
